.dashboard{
    padding:0;
}
.header-nav-bgrd{
	width:100%;
	height:125px;
	background-color:#2ac4ea;
}
.sidebar-dash{
    background-color:#333;
    height:560px;
}
.sidebar-dash ul a{
    color:#fff;
    text-decoration: none;
}
.content-dash{
    color:#000;
}
.categories-dash h3{
    color:#fff;
}